@model Warehouse.Models.WareHouse
@{
    ViewData["Title"] = "Delete";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer
<h2>@SharedLocalizer.GetLocalizedHtmlString("DeletePage")</h2>

<p>@SharedLocalizer.GetLocalizedHtmlString("Delete")? </p>
<p>@Model.Number</p>
<p>@Model.Address</p>

<a asp-action="DeleteYes" asp-controller="WareHouse" asp-route-id="@Model.Id">@SharedLocalizer.GetLocalizedHtmlString("Yes")!</a>
<a asp-action="Index" asp-controller="WareHouse">@SharedLocalizer.GetLocalizedHtmlString("No")!</a>