@model IEnumerable<Warehouse.Models.WareHouse>
@{
    ViewData["Title"] = "Index";
}

<h2>WareHouse</h2>

<a asp-action="Create" asp-controller="WareHouse">Create New</a>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Id)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Number)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Address)
        </th>
    </tr>
    @{
        foreach (var wh in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => wh.Id)
                </td>
                <td>
                    @Html.DisplayFor(item => wh.Number)
                </td>
                <td>
                    @Html.DisplayFor(item => wh.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@wh.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@wh.Id">Delete</a>
                    <a asp-action="Details" asp-route-id="@wh.Id">Details</a>
                </td>
            </tr>
        }
    }
</table>