@model IEnumerable<Warehouse.Models.WareHouse>
@{
    ViewData["Title"] = "Index";
}

<h1>WareHouse</h1>

<a asp-action="Create" asp-controller="WareHouse">Create New</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Number)</th>
            <th>@Html.DisplayNameFor(m => m.Address)</th>
            <td>Edit</td>
            <th>Disable</th>
        </tr>
    </thead>
    <tbody >
        @{
            foreach (var wh in Model)
            {
        <tr>
            <td>@Html.DisplayFor(item => wh.Number)</td>
            <td>@Html.DisplayFor(item => wh.Address)</td>
            <td><a asp-action="Edit" asp-route-id="@wh.Id">Edit</a></td>
            <td><a asp-action="" asp-route-id="@wh.Id">Disable</a></td>
        </tr>
            }
        }
    </tbody>
    
</table>