@model IEnumerable<Warehouse.Models.Unit>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<h3>Выберите файл для загрузки</h3>

<a asp-action="Create" asp-controller="Unit">Create new</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var unit in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => unit.Name)</td>
                    <td><a asp-action="Edit" asp-route-id="@unit.Id">Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@unit.Id">Delete</a></td>
                    <td><a asp-action="Details" asp-route-id="@unit.Id">Details</a></td>
                </tr>
            }
        }
    </tbody>
</table>
