@model IPagedList<Warehouse.Models.Unit>
@{
    ViewData["Title"] = "Index";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer
<form asp-action="Index" method="get">
    <div class="form-inline form-group">
        <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
        <input class="form-control" name="name" value="@ViewData["CurrentName"]" />

        <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("PageSize")</label>
        <input class="form-control" type="number" min="1" max="100" name="pageSize" value="@ViewData["CurrentSize"]" />

        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("Edit")</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Count() == 0)
            {
                <tr><td colspan="2" class="text-center">@SharedLocalizer.GetLocalizedHtmlString("ThereAreNoUnits")</td></tr>
            }
            foreach (var unit in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(item => unit.Name)</td>
                    <td><a class="edited btn" asp-action="Edit" asp-route-id="@unit.Id">@SharedLocalizer.GetLocalizedHtmlString("Edit") <i class="fas fa-pen-square ml-1"></i></a></td>
                </tr>
            }
        }
    </tbody>
</table>
<pager list="@Model" asp-route-name="@ViewData["CurrentName"]" asp-route-pageSize="@ViewData["CurrentSize"]" ></pager>
