
@model IEnumerable<Warehouse.Models.Order>
@{
    ViewData["Title"] = "Index";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer
<h2>Index</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>@SharedLocalizer.GetLocalizedHtmlString("Price")</th>
        <th>@SharedLocalizer.GetLocalizedHtmlString("Sale")</th>
        <th>@SharedLocalizer.GetLocalizedHtmlString("FinalPrice")</th>
        <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
        <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
    </tr>
    @{
        foreach (var o in Model)
        {
            <tr>
                <td>@o.Price</td>
                <td>@o.Sale</td>
                <td>@o.FinallPrice</td>
                <td>@o.Date</td>
                @{ 
                    if (o.OrderType == OrderType.InProgress)
                    {
                        <td>
                            <a asp-action="Continue" asp-route-id="@o.Id">@SharedLocalizer.GetLocalizedHtmlString("Continue")</a>
                            <a asp-action="Delete" asp-route-id="@o.Id">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>
                        </td>
                    }
                    else if (o.OrderType == OrderType.Saled)
                    {
                        <td><a asp-action="Back" asp-route-id="@o.Id">@SharedLocalizer.GetLocalizedHtmlString("Back")</a></td>
                    }
    }
            </tr>
        }
    }
</table>