@model IEnumerable<Warehouse.Models.ProductOrder>
    @{
ViewData["Title"] = "Show";
    }

    <h2>Show</h2>

    <table class="table table-striped">
        <tr>
            <th>Product</th>
            <th>Barcode</th>
            <th>ProductType</th>
            <th>Count</th>
            <th>Unit</th>
            <th>Price</th>
            <th>FinallyPrice</th>
            <th>User</th>
        </tr>
        @{
            foreach(var p in Model)
            {
            <tr>
                <td>@p.Product.Name</td>
                <td>@p.Product.Barcode</td>
                <td>@p.Product.ProductType.Name</td>
                <td>@p.Count</td>
                <td>@p.Product.Unit.Name</td>
                <td>@p.Price</td>
                <td>@p.FinallyPrice</td>
                <td>@p.ProductManager.User.Name</td>
            </tr>
            }
        }
    </table>
