@model IEnumerable<Warehouse.Models.Basket>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Current count</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Sale</th>
            <th>Finally price</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var wh in Model)
            {
                <tr>
                    <td>@wh.ProductManager.Product.Name</td>
                    <td>@wh.ProductManager.CurrentCount</td>
                    <td>@wh.ProductManager.Product.Unit.Name</td>
                    <td>@wh.ProductManager.SalePrice</td>
                    <td>%</td>
                    <td>$</td>
                    <td><a asp-action="Delete" asp-route-id="@wh.Id">Delete</a></td>
                </tr>
            }
        }
    </tbody>
    
   <a asp-controller="Order" asp-action="Add" asp-route-basketData="@Model"></a>
</table>
