
@{
    ViewData["Title"] = "Delete";
}
@model ProductType
@using Warehouse.Resources

@inject LocService SharedLocalizer
<h2>@SharedLocalizer.GetLocalizedHtmlString("Are you sure?")</h2>
<ins>@Model.Name</ins>
<a asp-action="Deleted" asp-route-id="@Model.Id">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>
<a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("GoBack")</a>


