@*@model IEnumerable<Warehouse.Models.ProductManager>*@
@model ReportViewModel
@{
    ViewData["Title"] = "Index";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer
@{
    var date = DateTime.Now.ToString("yyyy-MM-dd");
    var datefrom = Model.DateFrom.ToString("yyyy-MM-dd");
}


<div class="mahi_holder">
    <div class="container">
        <form method="get" asp-action="Index" asp-controller="Report" class="row">
            <div class="form-inline form-group">
                <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Deal")</label>
                <select asp-for="Deal" class="effect-24">
                    <option selected disabled value="">SelectTheDeal</option>
                    <option class="effect-24" value="0">Import</option>
                    <option class="effect-24" value="1">Saled</option>
                    <option class="effect-24" value="2">Export</option>
                    <option class="effect-24" value="3">Moved</option>
                </select>

                <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Type")</label>
                <select asp-for="TypeId" asp-items="ViewBag.Types">
                    <option selected value="" class="effect-24">All</option>
                </select>
                <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
                <select asp-for="ProductId" class="effect-24 effect-1" asp-items="ViewBag.Names">
                    <option selected value="" class="effect-24">All</option>
                </select>

                <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("User")</label>
                <select asp-for="UserId" asp-items="ViewBag.Users" class="effect-24">
                    <option selected value="" class="effect-24">All</option>
                </select>
                <br /><br />
                <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("From")</label>
                <input class="form-control" asp-for="DateFrom" type="date" min="01.01.2000" max="@date" value="@datefrom" />

                <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("To")</label>
                <input class="form-control" asp-for="DateTo" type="date" min="01.01.2000" max="@date" />

                <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("PageSize")</label>
                <input class="form-control" asp-for="PageSize" type="number" min="1" />
                <input type="submit" value="Filter" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            @{
                if (ViewBag.paged != null && ViewBag.paged.Count > 0)
                {


                    if (ViewBag.paged[0] is ProductManager)
                    {
                        <tr>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("ProductName")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("ProductType")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("ImportCount")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("ReceiptPrice")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("AddedDate")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("User")</th>
                        </tr>
                    }
                    else if (ViewBag.paged[0] is ProductOrder)
                    {
                        <tr>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("ProductName")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("ProductType")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("CountOfSaled")</th>
                            <td>Count of back</td>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("ReceiptPrice")</th>
                            <th>Finnaly price</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("DateOfSaled")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("User")</th>
                        </tr>
                    }
                    else if (ViewBag.paged[0] is WriteOut)
                    {
                        <tr>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("ProductName")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("ProductType")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("CountOfOut")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("PriceOfOut")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("DateOfWriteOut")</th>
                            <th>@SharedLocalizer.GetLocalizedHtmlString("User")</th>
                        </tr>
                    }
                    else if (ViewBag.paged[0] is ProductMove)
                    {
                        <tr>
                            <th>Product name</th>
                            <th>Product type</th>
                            <th>The count of moved</th>
                            <th>Before</th>
                            <th>After</th>
                            <th>Date of moved</th>
                            <th>User</th>
                        </tr>
                    }
                }
            }
        </thead>
        <tbody>
            @{
                if (ViewBag.paged == null || ViewBag.paged.Count == 0)
                {
                    <tr><td colspan="6" align="center">No products to show!</td></tr>
                }
                else
                {
                    @foreach (var pm in ViewBag.paged)
                    {
                    <tr>
                        <td>@pm.Product.Name</td>
                        <td>@pm.Product.ProductType.Name</td>
                        <td>@pm.Count</td>

                        @if (pm is ProductManager)
                        {
                            <td>@pm.ReceiptPrice</td>
                            <td>@pm.Date</td>
                            <td>@pm.User.UserName</td>
                        }
                        else if (pm is ProductOrder)
                        {
                            <td>@(pm.ReturnedCount)</td>
                            <td>@pm.Price</td>
                            <td>@((pm.Count - pm.ReturnedCount) * pm.FinallyPrice)</td>
                            <td>@pm.Order.Date</td>
                            <td>@pm.Order.User.UserName</td>
                        }
                        else if (pm is WriteOut)
                        {
                            <td>@pm.Price</td>
                            <td>@pm.Date</td>
                            <td>@pm.User.UserName</td>
                        }
                        else if (pm is ProductMove)
                        {
                            <td>@pm.Before.Number</td>
                            <td>@pm.After.Number</td>
                            <td>@pm.Date</td>
                            <td>@pm.User.UserName</td>
                        }
                    </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<a class="btn btn-default" asp-action="ExcelExport" asp-route-Deal="@Model.Deal" asp-route-DateTo="@Model.DateTo.ToString("yyyy-MM-dd")" asp-route-DateFrom="@Model.DateFrom.ToString("yyyy-MM-dd")" asp-route-UserId="@Model.UserId" asp-route-TypeId="@Model.TypeId" asp-route-ProductId="@Model.ProductId">Export to Excel</a>
<pager list="@ViewBag.paged" asp-route-Deal="@Model.Deal" asp-route-DateTo="@Model.DateTo.ToString("yyyy-MM-dd")" asp-route-DateFrom="@Model.DateFrom.ToString("yyyy-MM-dd")" asp-route-UserId="@Model.UserId" asp-route-pageSize="@Model.PageSize" asp-route-TypeId="@Model.TypeId" asp-route-ProductId="@Model.ProductId" asp-controller="Report" asp-action="Index" />
@section scripts{
    <link href="~/css/chosen.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/chosen.jquery.min.js"></script>
    <script>
        $(() => {
            $("#Deal").chosen({
                search_contains: true,
                width: "10%"
            });
            $("#UserId").chosen({
                search_contains: true
            });
            $("#ProductId").on("chosen:ready", function (evt, params) {
                let select = $("#TypeId").children("option:selected").val();
                let name = $("#ProductId").children("option:selected").val();
                if (select !== "") {
                    GetProducts(select);
                    if (name !== "") {
                        $("#ProductId").val(name);
                        $('#ProductId').trigger("chosen:updated");
                    }
                }
            });
            $("#TypeId").chosen({
                search_contains: true,
                width: "15%"
            });
            $("#ProductId").chosen({
                search_contains: true,
                width: "15%"
            });
            $(() => {
                $("#TypeId").on("change", function () {
                    var selected = $(this).children("option:selected").val();
                    GetProducts(selected);

                });
            });
            function GetProducts(select) {
                $.ajax({
                    url: '/Products/Get',
                    type: "POST",
                    data: JSON.stringify(select),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("#ProductId").empty();
                        $("#ProductId").append("<option selected value=''>All products</select>");
                        data.forEach(function (element) {
                            $("#ProductId").append("<option value=" + element.id + ">" + element.name + "</option>");
                        });
                        $("#ProductId").trigger("chosen:updated");
                    }
                })
            }

        });
    </script>
}
