@model Warehouse.Models.Customer
@{
    ViewData["Title"] = "Details";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer
<h2>@SharedLocalizer.GetLocalizedHtmlString("Details")</h2>
<p>@Html.DisplayFor(i => Model.Id)</p>
<p>@Html.DisplayFor(i => Model.Name)</p>
<p>@Html.DisplayFor(i => Model.Surname)</p>
<p>@Html.DisplayFor(i => Model.Phone)</p>
