@model PagedList<Customer>
@{
    ViewData["Title"] = "Index";
}


<br />
<br />
<br />
<br />
<form asp-action="Index" method="get">
    <span>Page size</span>
    <input type="number" min="1" name="pageSize" value="@ViewData["CurrentSize"]" />
    <input type="submit" value="Filter" />
</form>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => i.Name)</td>
                <td>@Html.DisplayFor(x => i.Surname)</td>
                <td>@Html.DisplayFor(x => i.Phone)</td>
                <td><a asp-action="Edit" asp-route-id="@i.Id">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@i.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<pager list="@Model" asp-route-pageSize="@ViewData["CurrentSize"]" asp-controller="Customer" asp-action="Index" />