@model PagedList<Customer>
@{
    ViewData["Title"] = "Index";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer

<br />
<br />
<br />
<br />
<form asp-action="Index" method="get">
    <span>@SharedLocalizer.GetLocalizedHtmlString("PageSize")</span>
    <input type="number" min="1" name="pageSize" value="@ViewData["CurrentSize"]" />
    <input type="submit" value="Filter" />
</form>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@SharedLocalizer.GetLocalizedHtmlString("Name")</th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("Surname")</th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("Phone")</th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("Edit")</th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("Delete")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => i.Name)</td>
                <td>@Html.DisplayFor(x => i.Surname)</td>
                <td>@Html.DisplayFor(x => i.Phone)</td>
                <td><a asp-action="Edit" asp-route-id="@i.Id">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a></td>
                <td><a asp-action="Delete" asp-route-id="@i.Id">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a></td>
            </tr>
        }
    </tbody>
</table>
<pager list="@Model" asp-route-pageSize="@ViewData["CurrentSize"]" asp-controller="Customer" asp-action="Index" />