@model Product
@{

}
@using Warehouse.Resources

@inject LocService SharedLocalizer
<h2>@SharedLocalizer.GetLocalizedHtmlString("CreateProduct")</h2>
<hr />
<br />
<form onsubmit="return PrCreateStop()" asp-action="Create" asp-antiforgery="true" method="post" enctype="multipart/form-data">
    <div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Name">@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Barcode">@SharedLocalizer.GetLocalizedHtmlString("Barcode")</label>
        <input asp-for="Barcode" type="text" class="form-control" />
        <span asp-validation-for="Barcode"></span>
    </div>
    <div id="PrMngTypeDiv" class="form-group">
        <label asp-for="ProductTypeId" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("ProductType")</label>
        <select asp-for="ProductTypeId" asp-items="ViewBag.ProductTypes" class="form-control">
            <option selected disabled value="">@SharedLocalizer.GetLocalizedHtmlString("SelectType")</option>
        </select>
    </div>
    <div id="PrMngUnitDiv" class="form-group">
        <label asp-for="UnitId" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Unit")</label>
        <select asp-for="UnitId" asp-items="ViewBag.Units" class="form-control">
            <option selected disabled value="">@SharedLocalizer.GetLocalizedHtmlString("SelectUnit")</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Image</label><br />
        <input asp-for="FileModelImgId" name="uploadedFile" type="file" class="hidden" id="inputGroupFile01">
        <div class="imageSelect">
            <label for="inputGroupFile01" id="chosenFileNameBtn">Upload file</label>
            <label for="inputGroupFile01" id="chosenFileName"></label>
        </div>
    </div> 
        <div><input type="submit" value="Create" class="btn btn-primary" /></div>
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/product.js"></script>
}
<script>
    $(document).ready(function () {
        if ($('#inputGroupFile01').val() == '') {
            $('#chosenFileName').text('No file chosen');
        }
        if ($('#inputGroupFile01').val() != '') {
            $("#chosenFileName").text($('#inputGroupFile01').val());
        }
        $('#inputGroupFile01').change(function () {
            if ($('#inputGroupFile01').val() == '') {
                $('#chosenFileName').text('No file chosen');
            }
            if ($('#inputGroupFile01').val() != '') {
                $("#chosenFileName").text($('#inputGroupFile01').val());
            }
        })
    })
</script>