
@{
    ViewData["Title"] = "Edit";
}
@model Product
@using Warehouse.Resources

@inject LocService SharedLocalizer
<form asp-action="Edit" asp-antiforgery="true" enctype="multipart/form-data">
    <div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Name">@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
            <input asp-for="IsActive" type="hidden" />
            <input type="hidden" asp-for="FileModelImgId" />
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <input asp-for="Barcode" type="hidden" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ProductTypeId" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("ProductType")</label>
            <select asp-for="ProductTypeId" asp-items="ViewBag.ProductTypes" class="form-control">
                <option selected disabled value="">@SharedLocalizer.GetLocalizedHtmlString("SelectType")</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="UnitId" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Unit")</label>
            <select asp-for="UnitId" asp-items="ViewBag.Units" class="form-control">
                <option selected disabled value="">@SharedLocalizer.GetLocalizedHtmlString("SelectUnit")</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Image</label><br />
            <input id="inputGroupFile02" type="hidden" value="@Model.FileModelImg?.Path" />
            <input asp-for="FileModelImgId" accept="image/*" type="file" name="uploadedFile" class="hidden" id="inputGroupFile01">
            <div class="imageSelect">
                <label asp-for="FileModelImgId" for="inputGroupFile01" id="chosenFileNameBtn">Upload file</label>
                <label asp-for="FileModelImgId" for="inputGroupFile01" id="chosenFileName"></label>
            </div>
        </div>
        <div><input type="submit" value="Edit" class="btn btn-primary" /></div>
    </div>
</form>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/product.js"></script>
}
<script>
    $(document).ready(function () {
        //debugger;
        if ($('#inputGroupFile02').val() == '') {
            $('#chosenFileName').text('No file chosen');
        }
        if ($('#inputGroupFile02').val() != '') {
            $("#chosenFileName").text($('#inputGroupFile02').val());
        }
        $('#inputGroupFile01').change(function () {
            if ($('#inputGroupFile01').val() == '') {
                $('#chosenFileName').text('No file chosen');
            }
            if ($('#inputGroupFile01').val() != '') {
                $("#chosenFileName").text($('#inputGroupFile01').val());
            }
        })
    })
</script>