@using Warehouse.Models
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<Product>
<a asp-action="Create">Create New</a>
<table>
    <thead class="table table-bordered table-hover">
        <tr>
            <th>Name</th>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewBag.ProductNameSort">
                    Name
                </a>*@
            
            <th>Bar Code</th>
            <th>Product Type</th>
            <th>Unit</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Details</th>
            @if (User.IsInRole("Admin"))
            {
                <td>Disable</td>
            }
            </tr>
    </thead>
    <tbody>

        @foreach (var pt in Model)
        {
        <tr>
            <td>@pt.Name</td>
            <td>@pt.Barcode</td>
            <td>@pt.ProductType?.Name</td>
            <td>@pt.Unit?.Name</td>
            <td><a asp-action="Edit" asp-route-id="@pt.Id">Edit</a></td>
            <td><a asp-action="Delete" asp-route-id="@pt.Id">Delete</a></td>
            <td><a asp-action="Details" asp-route-id="@pt.Id">Details</a></td>
            @if (User.IsInRole("Admin"))
            {
                <td><a asp-action="" asp-route-id="@pt.Id">Disable</a></td>
            }
        </tr>
        }
    </tbody>
</table>
