@using Warehouse.Models
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<Product>
<a asp-action="Create">Create New</a>
<table  class="table table-bordered table-hover">
    <thead class="bg-info">
        <tr>
            <th>Name</th>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewBag.ProductNameSort">
                    Name
                </a>*@
            
            <th>Bar Code</th>
            <th>Product Type</th>
            <th>Unit</th>
            <th>Edit</th>
            <th>Details</th>
            @if (User.IsInRole("Admin"))
            {
                <td>Disable</td>
            }
            </tr>
    </thead>
    <tbody>

        @foreach (var pt in Model)
        {
        <tr>
            <td>@pt.Name</td>
            <td>@pt.Barcode</td>
            <td>@pt.ProductType?.Name</td>
            <td>@pt.Unit?.Name</td>
            <td><a asp-action="Edit" asp-route-id="@pt.Id">Edit</a></td> 
            <td><a asp-action="Details" asp-route-id="@pt.Id">Details</a></td>
            @if (User.IsInRole("Admin"))
            {
                <td><a asp-for="link" asp-action="Disable" asp-route-id="@pt.Id" onclick="disable(this)">Disable</a></td>
            }
        </tr>
        }
    </tbody>
</table>
@section scripts{ 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");}
    <script>
        $("link").css("");
    </script>
}