@using Warehouse.Models
@{
    ViewData["Title"] = "Index";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer
@model ProductViewModel

<form asp-action="Index" method="get">
    <select asp-for="TypeId" asp-items="ViewBag.Types">
        <option selected value="">All types</option>
    </select>

    <select asp-for="ProductId" asp-items="ViewBag.Names">
        <option selected value="">All products</option>
    </select>

    <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("PageSize"):</label>
    <input type="number" min="1" asp-for="PageSize" />

    <input type="submit" value="Filter" class="btn btn-default" />
</form>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ProductNameSort">@SharedLocalizer.GetLocalizedHtmlString("Name")</a>
            </th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("Barcode")</th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("ProductType")</th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("Unit")</th>
            @if (User.IsInRole("Admin"))
            {
                <th>@SharedLocalizer.GetLocalizedHtmlString("DisableEnable")</th>
            }
            else
            {
                <th>@SharedLocalizer.GetLocalizedHtmlString("Edit")</th>
            }
            <th>@SharedLocalizer.GetLocalizedHtmlString("Image")</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.paged.Count == 0)
        {
            <tr><td colspan="6" class="text-center">@SharedLocalizer.GetLocalizedHtmlString("ThereAreNoProducts")</td></tr>
        }
        else
        {
            @foreach (var pt in ViewBag.paged)
            {
                <tr>
                    <td hidden="hidden"><input id="id" type="hidden" value="@pt.Id" /></td>
                    <td>@pt.Name</td>
                    <td>@pt.Barcode</td>
                    <td>@pt.ProductType?.Name</td>
                    <td>@pt.Unit?.Name</td>
                    @if (User.IsInRole("Admin"))
                    {
                        @if (pt.IsActive == true)
                        {
                            <td><a href="#" class="Disable">@SharedLocalizer.GetLocalizedHtmlString("Disable")</a></td>
                        }
                        else
                        {
                            <td><a href="#" class="Enable">@SharedLocalizer.GetLocalizedHtmlString("Enable")</a></td>
                        }
                    }
                    else
                    {
                        <td><a asp-action="Edit" asp-route-id="@pt.Id">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a></td>
                    }
                    @if (pt.FileModelImg != null)
                    {
                        <td><img src="@Url.Content(pt.FileModelImg.Path)"></td>
                    }
                    else
                    {
                        <td><img src="/Files/warehouse-cartoon-vector-7197735.jpg"></td>
                    }

                </tr>
            }
        }
    </tbody>
</table>
<pager list="@ViewBag.paged" asp-route-pageSize="@Model.PageSize" asp-route-ProductId="@Model.ProductId" asp-route-TypeId="@Model.TypeId" asp-controller="Product" asp-action="Index" />



@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");}
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
    <script src="~/js/jquery.contextMenu.js"></script>
    <script src="~/js/jquery.ui.position.js"></script>
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/product.js"></script>
    <script>
        $("#ProductId").on("chosen:ready", function (evt, params) {
            let select = $("#TypeId").children("option:selected").val();
            let name = $("#ProductId").children("option:selected").val();
            if (select !== "") {
                GetProducts(select);
                if (name !== "") {
                    $("#ProductId").val(name);
                    $('#ProductId').trigger("chosen:updated");
                }
            }
        });
        $("#TypeId").chosen({
            search_contains: true,
            width: "15%"
        });
        $("#ProductId").chosen({
            search_contains: true,
            width: "15%"
        });
        $(() => {
            $("#TypeId").on("change", function () {
                var selected = $(this).children("option:selected").val();
                GetProducts(selected);

            });
        });
        function GetProducts(select) {
            $.ajax({
                url: '/Products/Get',
                type: "POST",
                data: JSON.stringify(select),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#ProductId").empty();
                    $("#ProductId").append("<option selected value=''>All products</select>");
                    data.forEach(function (element) {
                        $("#ProductId").append("<option value=" + element.id + ">" + element.name + "</option>");
                    });
                    $("#ProductId").trigger("chosen:updated");
                }
            })
        }
    </script>
}