@using Warehouse.Models
@{
    ViewData["Title"] = "Index";
}
@using Warehouse.Resources

@inject LocService SharedLocalizer
@model PagedList<Product>

<form asp-action="Index" method="get">
    <span>@SharedLocalizer.GetLocalizedHtmlString("Name")</span>
    <input type="text" name="name" value="@ViewData["CurrentName"]" />
    <span>@SharedLocalizer.GetLocalizedHtmlString("Type")</span>
    <input type="text" name="type" value="@ViewData["CurrentType"]" />
    <span>@SharedLocalizer.GetLocalizedHtmlString("PageSize")</span>
    <input type="number" min="1" name="pageSize" value="@ViewData["CurrentSize"]" />
    <input type="submit" value="Filter" />
</form>
<pager list="@Model" asp-route-pageSize="@ViewData["CurrentSize"]" asp-route-name="@ViewData["CurrentName"]" asp-route-type="@ViewData["CurrentType"]" asp-controller="Product" asp-action="Index" />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ProductNameSort">@SharedLocalizer.GetLocalizedHtmlString("Name")</a>
            </th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("Barcode")</th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("ProductType")</th>
            <th>@SharedLocalizer.GetLocalizedHtmlString("Unit")</th>
            @if (User.IsInRole("Admin"))
            {
            <th>@SharedLocalizer.GetLocalizedHtmlString("DisableEnable")</th>
            }
            else
            {
            <th>@SharedLocalizer.GetLocalizedHtmlString("Edit")</th>
            }
            <th>@SharedLocalizer.GetLocalizedHtmlString("Image")</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr><td colspan="6" class="text-center">@SharedLocalizer.GetLocalizedHtmlString("ThereAreNoProducts")</td></tr>
        }
        else
        {
            @foreach (var pt in Model)
            {
                <tr>
                    <td hidden="hidden"><input id="id" type="hidden" value="@pt.Id" /></td>
                    <td>@pt.Name</td>
                    <td>@pt.Barcode</td>
                    <td>@pt.ProductType?.Name</td>
                    <td>@pt.Unit?.Name</td>
                    @if (User.IsInRole("Admin"))
                    {
                        @if (pt.IsActive == true)
                        {
                            <td><a href="#" class="Disable">@SharedLocalizer.GetLocalizedHtmlString("Disable")</a></td>
}
else
{
<td><a href="#" class="Enable">@SharedLocalizer.GetLocalizedHtmlString("Enable")</a></td>
                        }
                    }
                    else
                    {
                        <td><a asp-action="Edit" asp-route-id="@pt.Id">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a></td>
                    }
                    <td><img src="@Url.Content(pt.FileModelImg?.Path)"></td>
                </tr>
            }
        }
    </tbody>
</table>



@section scripts{
    <script src="https://kit.fontawesome.com/b7938c82ea.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");}
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
    <script src="~/js/jquery.contextMenu.js"></script>
    <script src="~/js/jquery.ui.position.js"></script>
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/product.js"></script>
}