@using Warehouse.Models

@{
    ViewData["Title"] = "ShowUsers";
}
@model IPagedList<AppUser>
<h2>ShowUsers</h2>
<form method="get" asp-action="ShowUsers">
    <div class="form-inline form-group">
        <label class="control-label">Name: </label>
        <input type="text" name="name" value="@ViewData["CurrentName"]" />

        <label class="control-label">Role: </label>
        <select name="role" class="form-control">
            <option value=""></option>
            <option value="Worker">Worker</option>
            <option value="Storekeeper">Storekeeper</option>
            <option value="Report">Report</option>
        </select>
        <label class="control-label">Warehouse Number: </label>
        <input type="text" name="number" value="@ViewData["CurrentNumber"]" />

        <label class="control-label">Page size</label>
        <input type="number" min="1" name="pageSize" value="@ViewData["CurrentSize"]" />
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<pager list="@Model" asp-route-pageSize="@ViewData["CurrentSize"]" asp-route-whNumber="@ViewData["CurrentNumber"]" asp-route-role="@ViewData["CurrentRole"]" asp-route-name="@ViewData["CurrentName"]" asp-controller="Admin" asp-action="ShowUsers" />
<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>Warehouse</th>
        <th>Disable \ Enable</th>
    </tr>
    @{
        foreach (var user in Model)
        {
            @if (user.Warehouse != null)
            {
                <tr>
                    <td hidden="hidden"><input type="hidden" value="@user.Id" /></td>
                    <td>@user.Name</td>
                    <td>@user.SurName</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <a class="moveUser">@user.Warehouse.Number<input type="hidden" value="@user.Id" /></a>
                    </td>
                    @if (user.LockoutEnd == null)
                    {
                        <td><a href="#" class="Disable">Disable</a></td>
                    }
                    else
                    {
                        <td><a href="#" class="Enable">Enable</a></td>
                    }
                </tr>
            }
        }
    }
</table>
<div class="modal fade" id="modalMoveUser" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Warehouses</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $(".moveUser").click(function () {
            var id = $(this).children().val();
                $.ajax({
                    url: '@Url.Action("WHListForAdmin", "Admin")',
                    data: { 'userId': id},
                    beforeSend: function () { $(".modal-body").html("<p>Loading... </p>") },
                    success: function (response) {
                        $(".modal-body").html(response);
                    }
                });
                $("#modalMoveUser").modal();
            });
        });
</script>

@section scripts{
    <script src="https://kit.fontawesome.com/b7938c82ea.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
    <script src="~/js/jquery.contextMenu.js"></script>
    <script src="~/js/jquery.ui.position.js"></script>
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/user.js"></script>
}