@using Warehouse.Models
@using Warehouse.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = "ShowUsers";
}
@model UsersViewModel
<h2>ShowUsers</h2>
<form method="get" asp-action="ShowUsers">
    <div class="form-inline form-group">
        <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
        <input class="form-control" asp-for="Name" type="text" name="name" />

        <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Role")</label>
        <select asp-for="RoleId" class="form-control" asp-items="@ViewBag.Roles">
            <option selected value="">All roles</option>
        </select>
        <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("WarehouseNumber")</label>
        <select class="form-control" asp-items="@ViewBag.Numbers" asp-for="Number">
            <option selected value="">All warehouses</option>
        </select>

        <label class="control-label">@SharedLocalizer.GetLocalizedHtmlString("PageSize")</label>
        <input class="form-control" asp-for="PageSize" type="number" min="1" max="100" name="pageSize" />
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<br />
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Name")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Surname")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Email")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Phone")</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("Warehouse") / Adress</th>
                <th>@SharedLocalizer.GetLocalizedHtmlString("DisableEnable")</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewBag.paged.Count == 0)
                {
                    <tr><td colspan="6" class="text-center">@SharedLocalizer.GetLocalizedHtmlString("ThereAreNoUsers")</td></tr>
                }
                foreach (var user in ViewBag.paged)
                {

                    <tr>
                        <td hidden="hidden"><input type="hidden" value="@user.Id" /></td>
                        <td>@user.Name</td>
                        <td>@user.SurName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>
                            @if (user.Warehouse != null)
                            {
                                <a class="moveUser">@user.Warehouse.Number / @user.Warehouse.Address<input type="hidden" value="@user.Id" /></a>
                            }
                            else
                            {
                                <a class="disabled">Unknown<input type="hidden" value="@user.Id" /></a>

                            }
                        </td>
                        @if (user.LockoutEnd == null)
                        {
                            <td><a href="#" class="Disable">@SharedLocalizer.GetLocalizedHtmlString("Disable")</a></td>
                        }
                        else
                        {
                            <td><a href="#" class="Enable">@SharedLocalizer.GetLocalizedHtmlString("Enable")</a></td>
                        }
                    </tr>

                }
            }
        </tbody>
    </table>
</div>
<pager list="@ViewBag.paged" asp-route-PageSize="@Model.PageSize" asp-route-Name="@Model.Name" asp-route-Number="@Model.Number" asp-route-role="@ViewData["CurrentRole"]" asp-route-name="@ViewData["CurrentName"]" asp-controller="Admin" asp-action="ShowUsers" />

<div class="modal fade" id="modalMoveUser" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@SharedLocalizer.GetLocalizedHtmlString("Warehouses")</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Close")</button>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $(".moveUser").click(function () {
            var id = $(this).children().val();
                $.ajax({
                    url: '@Url.Action("WHListForAdmin", "Admin")',
                    data: { 'userId': id},
                    beforeSend: function () { $(".modal-body").html("<p>Loading... </p>") },
                    success: function (response) {
                        $(".modal-body").html(response);
                    }
                });
                $("#modalMoveUser").modal();
            });
        });
</script>

@section scripts{
    <link href="~/css/jquery.contextMenu.css" rel="stylesheet" />
    <script src="~/js/jquery.contextMenu.js"></script>
    <script src="~/js/jquery.ui.position.js"></script>
    <link href="~/css/jquery-confirm.min.css" rel="stylesheet" />
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/user.js"></script>
}
