@model ProductManager
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<p>@Model.Count</p><br />
<p>@Model.CurrentCount</p><br />
<p>@Model.ReceiptPrice</p><br />
<p>@Model.SalePrice</p><br />
<p>@Model.ReceiptDate</p><br />
<p>@Model.AddDate</p><br />
<p>@Model.WareHouse.Number</p><br />
<p>@Model.UserId</p><br />

